<!DOCTYPE HTML>
<html ng-app="AppNG">
    <head>
        <meta charset="utf-8">
        <title>Pruebas Angular</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <script src="./scripts/controller.js"></script>
    </head>
    <body ng-controller="controllerServer">
        
        <input type="text" ng-model="nuevoUser_Usuario" />
        <input type="password" ng-model="nuevoUser_PW" />
        <button type="button" ng-click="addUser()">Agregar Usuario</button>
        
        <table class="table">
            <thead>
                <td>Usuario</td>
                <td>ID</td>
                <td>Titulo</td>
                <td>Cuerpo</td>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in listaUsuarios">
                    <!--{{usuario.user}} - <strong>{{usuario.contrasena}}</strong> -->
                    <td>{{usuario.userId}}</td>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.title}}</td>
                    <td>{{usuario.body}}</td>
                </tr>
            </tbody>
        </table>
            
    </body>
</html>